<!DOCTYPE html>
<html layout:decorate="~{layout/layout}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="es">
<head>
    <meta charset="UTF-8">
    <title th:text="#{product.create.title}">Crear Producto</title>
    <script src="/js/select-category-subcategory.js" defer></script>
    <script src="/js/valor-euros.js"></script>
</head>
<body>
<div class="container mt-4" layout:fragment="content">
    <div class="container">
        <div th:replace="~{fragments/productos/formularioAdminCrearProducto :: formularioAdminCrearProducto}"></div>
    </div>

</div>
</body>
</html>
