<!DOCTYPE html>
<html layout:decorate="~{layout/layout}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="es"><head>

    <title th:text="#{supermarket.list.header}">Lista Supermercados</title>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">

</head>
<body>

<div class="container mt-4" layout:fragment="content">
    <div class="container">
        <div th:replace="~{fragments/supermercados/lista-supermercados :: lista-supermercados}"></div>
    </div>
</div>
</body>
</html>
