<div class="container" th:fragment="registro-usuario">
    <section class="user-creation spad">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center mb-5">
                        <h2>Crear Usuario</h2>
                    </div>
                    <div class="user__creation__form shadow p-4 bg-light rounded" id="usuarioForm">
                        <form th:action="@{/registro/guardar}" method="post" th:object="${usuario}">
                            <div class="row">
                                <!-- Columna izquierda -->
                                <div class="col-lg-6">
                                    <!-- Campo de email -->
                                    <div class="mb-3">
                                        <input type="text" th:field="*{email}" class="form-control"
                                               th:placeholder="#{email_placeholder}" required>
                                        <div th:if="${#fields.hasErrors('email')}" class="alert alert-danger">
                                            <p th:each="err : ${#fields.errors('email')}" th:text="${err}"></p>
                                        </div>
                                    </div>

                                    <!-- Campo de contraseña -->
                                    <div class="mb-3">
                                        <input type="password" th:field="*{password}" class="form-control"
                                               th:placeholder="#{password_placeholder}" required>
                                        <div th:if="${#fields.hasErrors('password')}" class="alert alert-danger">
                                            <p th:each="err : ${#fields.errors('password')}" th:text="${err}"></p>
                                        </div>
                                    </div>

                                    <!-- Campo de teléfono -->
                                    <div class="mb-3">
                                        <input type="text" th:field="*{telefono}" class="form-control"
                                               th:placeholder="#{phone_placeholder}">
                                        <div th:if="${#fields.hasErrors('telefono')}" class="alert alert-danger">
                                            <p th:each="err : ${#fields.errors('telefono')}" th:text="${err}"></p>
                                        </div>
                                    </div>

                                    <!-- Campo de nombre de usuario -->
                                    <div class="mb-3">
                                        <input type="text" th:field="*{detalle.nombreUsuario}" class="form-control"
                                               th:placeholder="#{username_placeholder}" required>
                                        <div th:if="${#fields.hasErrors('detalle.nombreUsuario')}"
                                             class="alert alert-danger">
                                            <p th:each="err : ${#fields.errors('detalle.nombreUsuario')}"
                                               th:text="${err}"></p>
                                        </div>
                                    </div>

                                    <!-- Campo de nombre -->
                                    <div class="mb-3">
                                        <input type="text" th:field="*{detalle.nombre}" class="form-control"
                                               th:placeholder="#{first_name_placeholder}" required>
                                        <div th:if="${#fields.hasErrors('detalle.nombre')}" class="alert alert-danger">
                                            <p th:each="err : ${#fields.errors('detalle.nombre')}" th:text="${err}"></p>
                                        </div>
                                    </div>

                                    <!-- Campo de apellido -->
                                    <div class="mb-3">
                                        <input type="text" th:field="*{detalle.apellido}" class="form-control"
                                               th:placeholder="#{last_name_placeholder}" required>
                                        <div th:if="${#fields.hasErrors('detalle.apellido')}"
                                             class="alert alert-danger">
                                            <p th:each="err : ${#fields.errors('detalle.apellido')}"
                                               th:text="${err}"></p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Columna derecha -->
                                <div class="col-lg-6">
                                    <!-- Campo de edad -->
                                    <div class="mb-3">
                                        <input type="number" th:field="*{detalle.edad}" class="form-control"
                                               th:placeholder="#{age_placeholder}" required>
                                        <div th:if="${#fields.hasErrors('detalle.edad')}" class="alert alert-danger">
                                            <p th:each="err : ${#fields.errors('detalle.edad')}" th:text="${err}"></p>
                                        </div>
                                    </div>

                                    <!-- Campos de dirección -->
                                    <div class="mb-3">
                                        <input type="text" th:field="*{detalle.calle}" class="form-control"
                                               th:placeholder="#{street_placeholder}">
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" th:field="*{detalle.municipio}" class="form-control"
                                               th:placeholder="#{city_placeholder}">
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" th:field="*{detalle.pais}" class="form-control"
                                               th:placeholder="#{country_placeholder}">
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" th:field="*{detalle.codigopostal}" class="form-control"
                                               th:placeholder="#{postal_code_placeholder}">
                                        <div th:if="${#fields.hasErrors('detalle.codigopostal')}"
                                             class="alert alert-danger">
                                            <p th:each="err : ${#fields.errors('detalle.codigopostal')}"
                                               th:text="${err}"></p>
                                        </div>
                                    </div>

                                    <!-- Selección de Género -->
                                    <div class="mb-3">
                                        <label for="generoId" class="form-label"
                                               th:text="#{gender_label}">Gender</label>
                                        <select id="generoId" th:field="*{detalle.genero.id}" class="form-select"
                                                required>
                                            <option value="" disabled selected th:text="#{select_gender}">
                                            </option>
                                            <option th:each="genero : ${generos}"
                                                    th:value="${genero.id}"
                                                    th:text="${#fields.hasErrors('detalle.genero.id') ? 'error' : (idioma == 'es' ? genero.esDesc : genero.enDesc)}">
                                            </option>

                                        </select>
                                        <div th:if="${#fields.hasErrors('detalle.genero.id')}"
                                             class="alert alert-danger">
                                            <p th:each="err : ${#fields.errors('detalle.genero.id')}"
                                               th:text="${err}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Campos ocultos -->
                            <input type="hidden" th:field="*{roles}" value="ROLE_USER"/>
                            <input type="hidden" th:field="*{active}" value="true"/>

                            <!-- Botón de guardar -->
                            <div class="col-lg-12 text-center mt-4">
                                <button type="submit" class="btn btn-primary" th:text="#{save_button}"></button>
                            </div>
                        </form>
                        <div th:if="${error}" class="alert alert-danger mt-3" role="alert">
                            <span th:text="${error}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

