<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recuperar contraseña</title>
    <link rel="stylesheet" href="css/login/recuperarcontraseña.css" />
  </head>
  <body>
      <form action="/recuperar-contraseña">
        <div class="logo">
          <a href="/">
            <img src="img/logo.png" alt="Fruggy" width="200" height="200" />
          </a>
        </div>

        <h2>Recuperación de contraseña</h2>

        <p>Escribe el correo electrónico asociado con tu cuenta para recuperar tu contraseña</p>

        <input type="email" name="email" placeholder="Correo electrónico" required/>

        <button type="submit">Recuperar contraseña</button>

        <div class="enlaces">
          <a href="/login">Iniciar sesión</a>
          <a href="/crear-cuenta">Crear cuenta</a>
        </div>
      </form>

  </body>
</html>
